@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

/* Header navigation */
.page-header {
  padding-right: 70px;
  padding-left: 70px;
}

.navigation-list {
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 47px;
}

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  padding-left: 139px;
}

.navigation-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 250px;
  margin-left: auto;
  margin: 0;
  align-items: center;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-item:last-child {
  margin: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 0 19px 0;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin: 0;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-user-want {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 9px 15px 9px;
  cursor: pointer;
}

.navigation-user-link {
  position: relative;
  display: block;
  height: 19px;
  width: 19px;
}

.navigation-user .navigation-user-item:nth-child(1) .navigation-user-link {
  background-image: url(/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;
}

.navigation-user .navigation-user-item:nth-child(2) .navigation-user-link {
  background-image: url(/images/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;
}

.navigation-user-item:nth-child(1) {
  padding-right: 23px;
}

.navigation-user-item:nth-child(2) {
  padding-right: 32px;
}

/* Стили для главной части */

.welcome-img {
  padding-top: 51px;
  padding-bottom: 82px;
}


.welcome-img {
  display: block;
  margin: 0 auto;
}

.welcome {
  background-image: url(../images/divider.svg), url(../images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  color: #FFFFFF;
}

/* Описание */
.description {
  margin-top: 0;
  margin-bottom: 0;
}

.desctiption-container {
  padding-top: 63px;
  padding-bottom: 90px;
}

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}

.description-reasons {
  text-align: center;
  color: #333333;
  margin: 0;
}

/* Причины */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.advantages-point {
  width: 400px;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-reason {
  padding: 80px 85px 81px;
}

.advantages-reason-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.advantages-item-block {
  margin: 0;
  padding: 92px 85px;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-city,
.advantages-description-bridge {
  margin: 0;
}

.advantages-description,
.advantages-number {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-icon::before {
  content: "";
  display: block;
}

.icon-house::before {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 72px;
  margin-bottom: 30px;
}

.icon-burger::before {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  margin-bottom: 31px;
}

.icon-present::before {
  background-image: url(/images/present.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 76px;
  margin-bottom: 28px;
}

.advantages-item-housing,
.advantages-item-souvenirs {
  display: block;
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-food {
  display: block;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-point-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-point-description {
  width: 230px;
  margin: 0;
}

.advantages-title-square,
.advantages-title-road,
.advantages-title-tourists {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description-square,
.advantages-description-road,
.advantages-description-tourists {
  margin: 0;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 102px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 102px;
}

/* Поиск гостиниц */
.hotel-search {
  margin: 0;
  padding: 91px 20px 93px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.hotel-search-instruction {
  text-align: center;
  width: 592px;
  margin: 0;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
}

.hotel-search-link {
  display: block;
  border: none;
  cursor: pointer;
  padding: 12px 15px;
  font-size: 20px;
  background-color: #756157;
  color: #FFFFFF;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 574px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background-blur.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding: 94px 200px;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-button {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 23px;
  border-radius: 0 10px 10px 0;
  border: none;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #68A2CA;
}

.email-form {
  display: flex;
  margin: 0 auto;
  width: 800px;
}

.form-email {
  box-sizing: border-box;
  font: inherit;
  flex-grow: 1;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 20px 491px 19px 22px;
}


/* Флексы для футера */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-socials-item:nth-child(3n) {
  margin-right: 0;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 12px;
}

.socials-icon {
  fill: #83B3D3;
  display: block;
}

.socials-icon:hover{
  fill: #68A2CA;
}
.socials-icon:focus{
  fill: #68A2CA;
}
.socials-icon:active{
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.academy-logo{
  fill: #000000;
}

.academy-address-link:hover .academy-logo {
  fill: #756157;
}

.academy-address-link:focus .academy-logo {
  fill: #756157;
  outline: none;
}

.academy-address-link:active .academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

/* Стили каталога */

.inner-header {
  margin-top: 0;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  /* Цвет для того, чтобы видеть где заканчивается контейнер */
  background-color: rgba(5, 23, 35, 0.5);
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

ol.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 10px;
  padding-left: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
}

.breadcrumbs-item {
  margin-right: 10px;
  padding-left: 0;
}

.breadcrumbs-icon-house,
.breadcrumbs-link:focus .breadcrumbs-icon-house {
  fill: rgba(255, 255, 255, 1);
}


.breadcrumbs-link:hover .breadcrumbs-icon-house,
.breadcrumbs-link:active .breadcrumbs-icon-house {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-text:hover,
.breadcrumbs-text:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-text:focus {
  color: rgba(255, 255, 255, 1);
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.hotel-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center
}

.button-apply {
  font-family: inherit;
  background: #82B3D3;
  color: inherit;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 15px;
  width: 160px;
  border-radius: 4px;
  font-weight: 700;
}

.button-apply:hover{
  background-color: #68A2CA;
}

.button-apply:active{
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  height: 48px;
}

.select-control {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

/* Раздел с результатами поиска */

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 71px 56px 72px;
}

.search-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: 191px;
}

.select-wrapper {
  margin-right: 78px;
}

.sorting-buttons-group {
  width: 160px;
  display: flex;
}

.button-icons {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  /* Граница, чтобы видеть кнопки, потом нужно убрать */
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-icons.current {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-icons:last-child {
  margin: 0;
}

.small-icons {
  background-image: url(../images/layout-icons/icon-table.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.big-icons {
  background-image: url(../images/layout-icons/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.list-with-info {
  background-image: url(../images/layout-icons/icon-list.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px;
  row-gap: normal;
  padding-left: 73px;
  padding-right: 71px;
  margin: 0;
  list-style: none;
}

.product-card {
  padding: 20px;
}

.product-card-content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  margin-top: 16px;
}

.product-card-image {
  padding-bottom: 16px;
}

.product-card-title {
  margin: 0;
}

.product-card-title-link {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-type,
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.information-button,
.favorites-button,
.in-favorites-button {
  text-align: center;
  padding: 9px 15px 8px;
}

.favorites-button{
  background-color: #82B3D3;
}
.favorites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button:hover {
  background-color: #68A2CA;
}

.in-favorites-button{
  background-color: #7DB54F;
}

.in-favorites-button:hover {
  background-color: #6C9E42;
}

.in-favorites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  width: 140px;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  text-transform: uppercase;
}
.hotel-stars-4{
  display: block;
  background-image: url(../images/star.svg);
  background-repeat: space;
  width: 88px;
  height: 17px;
  margin-top: 10px;
}

.hotel-stars-3{
  display: block;
  background-image: url(../images/star.svg);
  background-repeat: space;
  width: 66px;
  height: 17px;
  margin-top: 10px;
}

.hotel-stars-2{
  display: block;
  background-image: url(../images/star.svg);
  background-repeat: space;
  width: 42px;
  height: 17px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  padding: 30px 71px 25px 73px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
}

.pagination-item:not(:last-child) {
  padding-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 22px;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link:last-child {
  padding: 12px 18px;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.select-hotels-wrapper {
  margin-left: 270px;
}

.hotels-on-page-text {
  font-size: 18px;
  line-height: 21px;
  margin-right: 51px;
}

/* Подписка в каталоге */
.subscribe-catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 200px;
}

.subscribe-title-catalog {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text-catalog {
  margin: 0;
  margin-bottom: 46px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
